h1.center {
    color: blue;
    font-size: 30px;
    text-shadow: 5px 2px 4px black;
}
h1.center {
    padding: 10px;
    border: 5px solid black;
}
h1.center {
    text-align: center;
}
p.center {
    color: blue;
    font-size: 30px;
    text-shadow: 5px 2px 4px black;
}
p.center {
    padding: 10px;
    border: 5px solid black;
}
p.center {
    text-align: center;
}
p.first {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
}
p.second {
    padding: 10px;
    border-style: solid;
    border-width: 5px;
}
p.first {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: blue;
}
p.second {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: #ff6600;
}
p.third {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(0, 153, 0);
}
p.none {
    border-style: none;
}
p.double {
    border-style: double;
}
p.dotted {
    border-style: dotted;
}
p.dashed {
    border-style: dashed;
}
p.groove {
    border-style: groove;
}
p.ridge {
    border-style: ridge;
}
p.inset {
    border-style: inset;
}
p.outset {
    border-style: outset;
}
p.hidden {
    border-style: hidden;
}
div {
    border: 5px solid green;
    width: 90px;
    height: 90px;
}
div {
    border: 5px solid green;
    width: 100%;
    height: 90px; background-color: #ff6600;
}
p.first1 {
    border: 5px solid green;
    min-height: 100px;
}
p.second1 {
    border: 5px solid green;
    max-width: 100px;
}
body {
    background-color: black;
}
p {
    color: lightpink;
}
body {
    background-image: url("44.gif");
    background-color: #e9e9e9;
}
p.uro {
    padding: 30px;
    background-image: url("44.gif");
}