h1.center {
    color: blue;
    font-size: 30px;
    text-shadow: 5px 2px 4px black;
}
h1.center {
    padding: 10px;
    border: 5px solid black;
}
h1.center {
    text-align: center;
}
p.center {
    color: blue;
    font-size: 30px;
    text-shadow: 5px 2px 4px black;
}
p.center {
    padding: 10px;
    border: 5px solid black;
}
p.center {
    text-align: center;
}
p.first {
    padding: 10px;
    border-style: solid;
    border-width: 2px;
}
p.second {
    padding: 10px;
    border-style: solid;
    border-width: 5px;
}