/* p { /* Выбирает все пораграффы которые изменят цвет */
/* color: aqua; <!-- Цвет текста -->
background-color: snow; /* Фон вокруг текста
}   /* h1 { color: black} Цвет заголовка */
p {
    color: #002480;
    font-size: 25px;
   }
#intro {
    color: red;
    background-color: black;
}
.first {font-size: 40px;}
#intro .first em {
    color: pink;
    background-color: white;
}
p.serif {
    font-family: "Times New Roman", Times,
    serif;
}
p.sansserif {
    font-family: Helvetica, Arial,
    sans-serif;
}
p.monospace {
    font-family: "Courier New", Courier,
    monospace;
}
p.cursive {
    font-family: Florence, Cursive;
}
p.fantasy {
    font-family: Blippo, fantasy;
}
/* Свойство font-family Должно содержать несколько имён шрифтов, в качестве "запасных".При определении веб шрифта в стиле
CSS,добавте более одного имени шрифта,чтобы избежать неопределённого поведения.Если компьютер клиента по каким-либо при-
чинам не имеет шрифт,который вы выбрали,то он попробует другой.
Указание общего семейства шрифтов является хорошей практикой,чтобы позволить браузеру выбрать похожий шрифт в семействе
если другие недоступны.
 */
body {
    font-family: Arial, "helvetica neue",
    Helvetica, sans-serif;
}
/* Если браузер не поддерживает шрифт Arial, то он пробует следующие шрифты (helvetica neue,затем helvetica).Если браузер
не поддерживает не одни из них, то он попытается использовать sans-serif. Не забывайте использовать ковычки если имя шрифтасостоит более чем из одного слова*/
p.small {
    font-size: small;
}
p.medium {
    font-size: medium;
}
p.large {
    font-size: large;
}
p.xlarge {
    font-size: x-large;
} /* Также размер шрифта можно писать в px и em, чтобы посчитать в em надо использовать формулу 1em=16 px */
p.italic {
    font-style: italic;
}
p.normal {
    font-style: normal;
}
p.italic {
    font-style: italic;
}
p.oblique {
    font-style: oblique;
}
p.light {
    font-weight: lighter;
}
p.bold {
    font-weight: bold;
}
p.bolder {
    font-weight: bolder;
}
p.normal {
    font-variant: normal;
}
p.small {
    font-variant: small-caps;
}
p.example {
    color: green;
}
h1 {
    color: darkmagenta;
}
p.example {
    color: rgb(255,0,0);
}
p.left {
    text-align: left;
}
p.right {
    text-align: right;
}
p.center {
    text-align: center;
}
p.justify {
    text-align: justify;
}
td.top {
    vertical-align: top;
}
td.middle {
    vertical-align: middle;
}
td.bottom {
    vertical-align: bottom;
}
span.baseline {
    vertical-align: baseline;
}
span.sub {
    vertical-align: sub;
}
span.super {
    vertical-align: super;
}
span.pixel {
    vertical-align: +10px;
}
.main {
    height: 75px; width: 200px;
    background-color: lightblue;
    display: inline-table;
}
.paragraph {
    display: table-cell;
    vertical-align: middle;
}
p.none {
    text-decoration: none ;
}
p.inherit {
    text-decoration: inherit;
}
p.overline {
    text-decoration: overline;
}
p.underline {
    text-decoration: underline;
}
p.line-through {
    text-decoration: line-through;
}
p.indent {
    text-indent: 60px;
}
h1.shadow {
    color: black;
    font-size: 30px;
    text-shadow: 5px 2px 4px grey;
}
h1 {
    font-size: 30px;
    text-shadow: rgba(0,0,255,1) -1px -2px 0.5em;
}
p.capitalize {
    text-transform: capitalize;
}
p.uppercase {
    text-transform: uppercase;
}
p.lowercase {
    text-transform: lowercase;
}
p.normal {
    letter-spacing: normal;
}
p.positive {
    letter-spacing: 4px;
}
p.negative {
    letter-spacing: - 3.5px;
}