/* p { /* Выбирает все пораграффы которые изменят цвет */
/* color: aqua; <!-- Цвет текста -->
background-color: snow; /* Фон вокруг текста
}   /* h1 { color: black} Цвет заголовка */
p {
    color: green;
    font-size: 25px;
   }
#intro {
    color: red;
    background-color: black;
}
.first {font-size: 40px;}
#intro .first em {
    color: pink;
    background-color: white;
}

