/* Ччтобы сдлеать веб разработку проще и быстрее CSS3 предстовляет дополнительные новые особенности включая следующие:
Box shadow Свойство box-shadow вы можете добавлять одну или несколько теней к элементу,определяя значения для цвета,размера
размытия и растяжения.
Градиенты: Градиенты CSS3 позволяют вам установить цвет фона элемента на градиент.Доступно два типа градиентов: liner (линейный)
и radial (радиальный)
 */
/* Transform позволяет вам вращать,двигать,маштабировать и смещать элементы.Другой известный особенностью являются переходы
(transitions) которые позволяют вам создовать анимацию от одного значения свойства CSS к другому.Вы можете комбинировать
их с трансформацией и анимировать позиционирование элементов вращения и масштабирования.Свойство,привлекающее больше всего внимания
это (Animation)Анимация CSS имеет свои спецификации и позволяет вам создовать ключевые кадры (keyframes) устанавливать длительность
плавность,и другое
*/
/* Вендорные префиксы css, или префиксы браузера css являются приставками используемыми производителями (вендорами)
браузеров для эксперементальных, ещё не принятых в стандарт, css-свойств.Браузерные префиксы используются для добавления
новых особенностей,которые могутне стать частью финальной и официальной спецификации css.
Например,префексом для safari и Chrome является -webkit.Свойство border-radius в настоящее время поддерживается в chrome
safari и Mozilla,пока оно сопроваждается префексом браузера. Для определения border-radius в Chrome и safari используется
следующий синтаксис -webkit-border-radius: 24px; префикс добавляется к свойству чтобы оно работало в неподдерживаемых браузерах
Так что,возможно вы закончите с множественным определением одного и того же свойства,каждого с префиксом браузера.
Список вендорных префиксов для каждого браузера: Firefox(-moz-); Safari(-webkit-); Chrome(-webkit-); opera(-o-); internet explorer (-ms)
Специфические значения могут быть применены для свойства border-radius в следующем порядке:верх-лево,верх-право,низ-право,низ-лево.
 */
/* Прямоугольник может быть превращён в окружность с помощью css.Чтобы создать окружность радиус рамки должен быть равен
половине высоты и ширины.
 */
/* CSS3 свойство box-shadow применяет к элементам тень.Компоненты свойства box-shadow декодируются браузерами в следующей
манере: Первая длина для горизонтального смещения вызовет тень справа от блока (значение обязательно) Вторая длина для
вертикального смещения вызовет тень под блоком (значение обязательно) Цвет тени(значение опционально)
Ключевое слово inset возволяет рисовать внутреннюю тень в блоке.Чтобы отобразить внутреннюю тень просоо добавте ключевое слово inset
вы можете одновременно создать inner(внутреннюю) и outer (внешнюю) тени разделяя каждую запятой
 */
/* Свойство text-shadow определяет один и более эффектов тени,разделённых запятыми,которые будут применены к текстовому содержимому
текущего элемента.
Значение offset-x и offset-y обязательны для использования свойства text-shadow.Значение color не является обязательным
но с тех пор как значение по умолчанию стало прозрачным то тень не появится пока вы не укажете значения цвета
 */
/* Псевдоклассы css позволяют нам стилизовать элементы или части элементов которые существуют в дереве документа без
использваония JavaScript или других скриптов.Псевдоклассы начинаются с "." двоеточия
Наиболее часто используемыми псевдоклассыами являются :fisrt-child и :last-child.Псевдокласс first-child находит любой элемент
являющийся первом в своём родителе.
 */










div.blue {
    background-color: #8EC4D0; margin-bottom: 15px; width: 120px; height: 120px; color: #FFF;
}
div.red {
    background-color: #FF4D4D; position: relative; width: 120px; height: 120px; color: #FFF; margin-top: -50px; margin-left: 50px;
}
p.radius {
    border-radius: 100px; background-color: green; color: white; width: 200px; height: 200px;
}
div.box {
    width: 300px; height: 100px; background-color: #9400D3; box-shadow: 5px 10px #888888;
}
h2 {
    width: 300px; height: 100px; background-color: #FF00FF; box-shadow: 10px 10px 5px 5px #DCDCDC;
}
h3 {
    width: 300px; height: 100px; background-color: #9ACD32; box-shadow: -20px -20px 10px -5px;
}
h4 {
    width: 300px; height: 100px; background-color: #20B2AA; box-shadow: 10px 10px 10px 5px #778899;
}
body {
    background: url("40.jpg");
}
nav {
    padding: 50px 0; min-width: 500px;
}
nav ul {
    background: linear-gradient(90deg,rgba(255,255,255,0)0%,rgba(255,255,255,0.2)255%,rgba(255,255,255,0.2)75%,rgba(255,255,255,0)100%);
    box-shadow: 0 0 25px rgba(0,0,0,0.1),inset 0 0 1px rgba(255,255,255,0.6);
}
nav ul li {
    display: inline-block;
}
nav ul li a {
    padding: 10px; color: #ffffff; font-size: 18px;font-family: Arial;text-decoration: none; display: block;
}
h1 {
    text-shadow: 5px 10px 2px #93968f, -3px 6px 5px #58d1e3;
}
#parent p:first-child {
    color: green;
    text-decoration: underline;
}
