div.blue {
    background-color: #8EC4D0; margin-bottom: 15px; width: 120px; height: 120px; color: #FFF;
}
div.red {
    background-color: #FF4D4D; position: relative; width: 120px; height: 120px; color: #FFF; margin-top: -50px; margin-left: 50px;
}