/* Ччтобы сдлеать веб разработку проще и быстрее CSS3 предстовляет дополнительные новые особенности включая следующие:
Box shadow Свойство box-shadow вы можете добавлять одну или несколько теней к элементу,определяя значения для цвета,размера
размытия и растяжения.
Градиенты: Градиенты CSS3 позволяют вам установить цвет фона элемента на градиент.Доступно два типа градиентов: liner (линейный)
и radial (радиальный)
 */
/* Transform позволяет вам вращать,двигать,маштабировать и смещать элементы.Другой известный особенностью являются переходы
(transitions) которые позволяют вам создовать анимацию от одного значения свойства CSS к другому.Вы можете комбинировать
их с трансформацией и анимировать позиционирование элементов вращения и масштабирования.Свойство,привлекающее больше всего внимания
это (Animation)Анимация CSS имеет свои спецификации и позволяет вам создовать ключевые кадры (keyframes) устанавливать длительность
плавность,и другое
*/
/* Вендорные префиксы css, или префиксы браузера css являются приставками используемыми производителями (вендорами)
браузеров для эксперементальных, ещё не принятых в стандарт, css-свойств.Браузерные префиксы используются для добавления
новых особенностей,которые могутне стать частью финальной и официальной спецификации css.
Например,префексом для safari и Chrome является -webkit.Свойство border-radius в настоящее время поддерживается в chrome
safari и Mozilla,пока оно сопроваждается префексом браузера. Для определения border-radius в Chrome и safari используется
следующий синтаксис -webkit-border-radius: 24px; префикс добавляется к свойству чтобы оно работало в неподдерживаемых браузерах
Так что,возможно вы закончите с множественным определением одного и того же свойства,каждого с префиксом браузера.
Список вендорных префиксов для каждого браузера: Firefox(-moz-); Safari(-webkit-); Chrome(-webkit-); opera(-o-); internet explorer (-ms)
Специфические значения могут быть применены для свойства border-radius в следующем порядке:верх-лево,верх-право,низ-право,низ-лево.
 */













div.blue {
    background-color: #8EC4D0; margin-bottom: 15px; width: 120px; height: 120px; color: #FFF;
}
div.red {
    background-color: #FF4D4D; position: relative; width: 120px; height: 120px; color: #FFF; margin-top: -50px; margin-left: 50px;
}
p.radius {
    border-radius: 100px; background-color: green; color: white; width: 200px; height: 200px;
}