/* переходы CSS3 позволяют нам изменить одно значение свойства на другое в течение заданной продолжительности.
transition-property- указывает свойство,к которому будет применён переход. transition-duration- определяет продолжительность,
в течение которой произойдёт переход. trabsition-timing-function-определяет как будет изменяться темп перехода во время
его продолжительности.transition-delay-определяет задержку( в секундах) для эффекта перехода. Эффект перехода может быть
применён к широкому множеству свойств CSS, включая background-color,width, height, opacity, и многие другие.
 */
/* Свойство transition-timing-fuction определяет насколько быстро должно изменяться значение стилевого свойства,для
которого применяется эффект перехода.Может принимать следующие значения:
ease - анимация начинается медленно,затем  быстро ускоряется
ease-in- начинатеся медленно, затем ускоряется и останавливается резко
ease-out- начинается быстро, но замедляется до остановки
ease-in-out-похоже на ease,но с более тонким ускорением и замедлением.
linear- постоянная скорость прохождения анимации часто применяется для изменений цвета и прозрачности.
Наконец у нас есть cubic-bezier(), что позволяет нам определять ваши собственные значения в функции cubic-bezier.Возможными
значениями являются числа от 0 до 1.
 */
/* трансформация в CSS3 позволяет вам транслировать,вращать, масштабировать и искажать элементы.Трансформация это эффект,
который позволяет вам изменять размер,форму и положение элемента на веб странице.CSS3 поддерживает 2D и 3D трансформации

 */
/* Свойство transform-origin позволяет вам изменять позицию трансформируемого элемента.Значением по умолчанию является
50% 50% что соответствует центру элемента. 0 0 является таким же значение как и top left, а 100% 100% это то же самое
что и bottom right. Свойство tranform-origin должно использоваться вместе со свойством transform
 */





div {
    width: 50px;
    height: 50px;
    background: #32cd32;
    transition: width 3s;
    padding: 50px;
    position: absolute;
    transform: translate(100px, 50px);
}
div:hover {
    width: 250px;
}
#transform {
    width: 200px;
    height: 100px;
    margin-top: 30px;
    background-color: #32cd32;
    transform: rotate(10deg);
}
div.positive {
    width: 200px; height: 100px; margin-top: 30px; background-color: #32cd32; transform: rotate(-10deg);
}
div.empty-div {
    position: relative; width: 100px; height: 100px;margin: 30px; padding: 10px; border: 1px solid black;
}
div.green-div {
    padding: 50px;position: relative;background-color: #8bc34a; border: 1px solid white; transform: rotate(15deg); transform-origin: 25% 75%;
}