/* переходы CSS3 позволяют нам изменить одно значение свойства на другое в течение заданной продолжительности.
transition-property- указывает свойство,к которому будет применён переход. transition-duration- определяет продолжительность,
в течение которой произойдёт переход. trabsition-timing-function-определяет как будет изменяться темп перехода во время
его продолжительности.transition-delay-определяет задержку( в секундах) для эффекта перехода. Эффект перехода может быть
применён к широкому множеству свойств CSS, включая background-color,width, height, opacity, и многие другие.
 */





div {
    width: 50px;
    height: 50px;
    background: #32cd32;
    transition: width 3s;
}
div:hover {
    width: 250px;
}